[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/versions.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/robot.cfg
    https://raw.githubusercontent.com/IMIO/buildout.jenkins/master/qa.cfg

package-name = cpskin.slider

#allow-picked-versions = false
show-picked-versions = true

index = http://devpi.imio.be/root/imio/+simple/
allow-hosts +=
    devpi.imio.be

extensions =
    mr.developer

auto-checkout =
    cpskin.locales
    cpskin.core

parts +=
    omelette

[code-analysis]
directory = ${buildout:directory}/cpskin

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[sources]
cpskin.locales = git https://github.com/IMIO/cpskin.locales.git
cpskin.core = git https://github.com/IMIO/cpskin.core.git

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ipdb
    cpskin.slider [test]

[versions]
selenium = 3.4.3
mr.developer = 1.38
appdirs = 1.4.3
six = 1.10.0
pyparsing = 2.2.0
