.slider-carousel [id="carousel-a-la-une"],
#slider-a-la-une .slides .linkimg{
  display: none !important;
}
.flex-viewport {
  background: #576574;
}
#accueil #slider-a-la-une.flexslider .flex-caption {
  background: #8395a7 !important;
  margin-top: 0px !important;
  height: 200px !important;
  opacity: 1 !important;
  padding: 4% !important;
  width: 90% !important;
  box-sizing: border-box;
  margin: 0 0 0 5%;
}
.slider-carousel {
    max-width: 75%;
}
.flex-direction-nav .flex-prev {
  left: 1%;
}
.flex-direction-nav .flex-next{
  right: 1% ;
}
.flex-direction-nav a{
  opacity: 1;
}
#accueil #slider-a-la-une .read-next-link{
  display: block ;
  background: #8395a7;
  padding: 2% 4%;
  clear: left;
  max-width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}
.read-next-link a {
    display: inline-block;
    background: #222f3e;
    width: 17%;
    padding: 2%;
    box-sizing: border-box;
}